html,body{
    height: 100%;
    padding: 0;
    margin: 0;
}
.c1{
    height: 100%;
    font-size: 50px;
    text-align: center;
    float: left;
}
#wrap{
    width: 100%;
    background: lightblue;
}

:root{
    --lw:20%;/*定义变量,px或百分比都可以*/
    --rw:30%;
}

#lside{
    background: lightcoral;
    width: var(--lw);/*或者固定的像素宽*/
    margin-left: -100%;
}

#rside{
    background: lightgreen;
    width: var(--rw);/*读取变量*/
    margin-left: calc(var(--rw) * -1);
    /*margin-left: calc(0px - var(--rw));*/
}
#main{
    margin: 0 var(--rw) 0 var(--lw);
}